<!DOCTYPE html>
<html>
<head>
	<title>Edit User</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Edit User</legend>
			<table>
				<tr>
					<td>Username</td>
					<td><%=username%></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><%=password%></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><%=email%></td>
				</tr>
				<tr>
					<td>Are sure? this can't be undone!</td>
					<td></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit" value="Confirm"></td>
					<td></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>